@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  li {
    @apply leading-9 md:leading-loose tracking-wider;
  }
}

@layer components {
  .page-px {
    @apply px-[10px] sm:px-[25px] md:px-[45px] lg:px-[70px];
  }

  .page-py {
    @apply pt-20 pb-24 lg:pt-48 lg:pb-52;
  }

  .max-w-content {
    @apply lg:max-w-[1400px] m-auto;
  }

  .button {
    @apply px-8 py-3 rounded-sm uppercase tracking-wider;
  }

  .rtl {
    direction: rtl;
    @apply text-left;
  }

  .ltr {
    direction: ltr;
  }
}

.color-picker {
  color: #415867;
}

html,
body {
  scroll-behavior: smooth;
  background: none;
}

*::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
  background: none;
}

*::-webkit-scrollbar-track {
  padding: 10px;
  background: #1a2327;
}

*::-webkit-scrollbar-thumb {
  background: rgba(66, 85, 97, 0.4);
  border-radius: 9999px;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgb(66, 85, 97, 0.7);
}
