@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-px {
    @apply px-[10px] md:px-[45px] lg:px-[70px];
  }

  .max-w-content {
    @apply lg:max-w-[1400px] m-auto;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
